.newsletter_main {
    padding: 70px;
}

.newsletter_signup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.newsletter_signup .newsletter_signup_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 30%;
}

.newsletter_signup .newsletter_signup_header .title {
    text-transform: uppercase;
}

.newsletter_signup .newsletter_signup_header .subtitle {
    font-weight: 700;
}

.newsletter_signup .newsletter_signup_content {
    flex: 70%;
}

.newsletter_signup .newsletter_signup_content .title {
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.newsletter_signup .newsletter_signup_content .title > h3 {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 6px;
}

.newsletter_signup .newsletter_signup_content .email_container {
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.newsletter_signup .newsletter_signup_content .email {
    padding: 30px;
    background-color: #DFD7F9;
    border-radius: 5px;
    border-top-left-radius: 60px;
    width: 70%;
}

.newsletter_downloads_header {
    margin-bottom: 50px;
}

.newsletter_downloads_header > h2 {
    font-weight: 600;
}

.newsletter_downloads_contents, .newsletter_downloads_content {
    margin-top: 10px;
}

.newsletter_downloads_content .content_number {
    font-size: 100px;
    font-weight: 700;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter_downloads_content .content_metadata {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletter_downloads_content .content_actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletter_downloads_content .content_actions button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #F1A501;
    color: white;
    border-color: #F1A501;
    box-shadow: 7px 5px 5px #FFB619;
}

.newsletter_downloads_content .content_actions button:not(:last-child) {
    margin-right: 20px;
}