/* Blog */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.blog {
  width: 100%;
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  /* Carousel base class */
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */
  /* MARKETING CONTENT
  -------------------------------------------------- */
  /* Center align the text within the three columns below the carousel */
  /* rtl:begin:ignore */
  /* rtl:end:ignore */
  /* Features ------------------------- */
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  /* rtl:end:remove */
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  /* Pagination */
  /*
  * Blog posts
  */
  /*
  * Footer
  */
}
.blog .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
@media (min-width: 768px) {
  .blog .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.blog .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.blog .b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.blog .bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.blog .nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.blog .nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.blog main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: scroll;
}
.blog .dropdown-toggle {
  outline: 0;
}
.blog .btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}
.blog .btn-toggle:hover,
.blog .btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}
.blog .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}
.blog .btn-toggle[aria-expanded=true] {
  color: rgba(0, 0, 0, 0.85);
}
.blog .btn-toggle[aria-expanded=true]::before {
  transform: rotate(90deg);
}
.blog .btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.blog .btn-toggle-nav a:hover,
.blog .btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
.blog .scrollarea {
  overflow-y: auto;
}
.blog .form-control-dark {
  border-color: var(--bs-gray);
}
.blog .form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.blog .text-bg-dark {
  color: #fff !important;
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
}
.blog .text-small {
  font-size: 85%;
}
.blog .dropdown-toggle {
  outline: 0;
}
.blog #sidebar-mobile {
  display: none;
  visibility: hidden;
}
.blog #sidebar {
  display: flex;
  visibility: visible;
}
@media screen and (max-width: 720px) {
  .blog #sidebar {
    display: none;
    visibility: hidden;
  }
  .blog #sidebar-mobile {
    display: flex;
    visibility: visible;
  }
}
.blog .main-content {
  overflow-y: scroll;
}
.blog .carousel {
  margin-bottom: 4rem;
}
.blog .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.blog .carousel-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 32rem;
}
.blog .marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.blog .marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.blog .feature-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
.blog .feature-heading {
  letter-spacing: -0.05rem;
}
@media (min-width: 40em) {
  .blog {
    /* Bump up size of carousel content */
  }
  .blog .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .blog .feature-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .blog .feature-heading {
    margin-top: 7rem;
  }
}
.blog .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
@media (min-width: 768px) {
  .blog .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.blog .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.blog .b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.blog .bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.blog .nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.blog .nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.blog .blog-header {
  border-bottom: 1px solid #e5e5e5;
}
.blog .blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}
.blog .blog-header-logo:hover {
  text-decoration: none;
}
.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.blog .display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .blog .display-4 {
    font-size: 3rem;
  }
}
.blog .flex-auto {
  flex: 0 0 auto;
}
.blog .h-250 {
  height: 250px;
}
.blog .text-bg-dark {
  color: #fff !important;
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
}
@media (min-width: 768px) {
  .blog .h-md-250 {
    height: 250px;
  }
}
.blog .blog-pagination {
  margin-bottom: 4rem;
}
.blog .blog-post {
  margin-bottom: 4rem;
}
.blog .blog-post-title {
  font-size: 2.5rem;
}
.blog .blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
.blog .blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.blog .blog-footer p:last-child {
  margin-bottom: 0;
}

/* End of Blog *//*# sourceMappingURL=blog.css.map */