@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
  Notes:
  1 rem = 16px
*/

/* Core */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

// Temporary
img {
  width: 5rem;
  height: 5rem;
}
/* End Core */

/* Blog */

.blog {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .left {
    width: 10rem;
    height: 100%;
    border-right: .1rem solid #808080;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 3rem 0;
    font-size: 1.4rem;

    .brand-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }

    .menu {
      display: flex;
      flex-direction: column;
      flex: 2;
      gap: 1rem;

      .menu-item {
        border-radius: .4rem;
        padding: 1rem 1.5rem 1rem 1.5rem;
      }

      .menu-active {
        color: #ffffff;
        background-color: #000;
      }
    }

    .controls {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      flex: 1;
      justify-content: flex-end;
      gap: 1rem;
    }
  }

  .middle {
    width: calc(100% - 50rem);
    height: 100%;
    border-right: .1rem solid #808080;
    display: flex;
    flex-direction: column;

    .first-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .search {
        display: flex;
        flex-direction: row;
      }

      .controls {
        display: flex;
        flex-direction: row;
      }
    }

    .divider {
      border-bottom: .1rem solid #808080;
    }

    .second-row {
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .article-of-the-day {
        display: flex;
        flex-direction: row;

        .left-article-of-the-day {
          display: flex;
          flex-direction: column;
        }

        .right-article-of-the-day {
          width: 100%;
          height: 100%;
        }
      }
    }

    .third-row {
      display: flex;
      flex-direction: column;

      .heading {
        font-size: 3rem;
      }

      .tags {
        display: flex;
        flex-direction: row;

        .tag {

        }
      }
      
      .articles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .article {
          display: flex;
          flex-direction: column;

          .author-details {
            display: flex;
            flex-direction: row;
            align-items: center;

            .dot {
              height: .3rem;
              width: .3rem;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .right {
    width: 40rem;
    display: flex;
    flex-direction: column;

    .profile-details {
      display: flex;
      flex-direction: row;
    }

    .premium-membership {
      display: flex;
      flex-direction: column;
    }

    .divider {
      width: 100%;
      height: .1rem;
      background-color: #000;
    }

    .continue-reading {
      display: flex;
      flex-direction: column;

      .article {
        .progress-bar {
          height: 0.7rem;
          width: 100%;
          border-radius: 1rem;
          border: .1rem solid black;
        }

        .progress-bar-90 {
          width: 90%;
          height: 100%;
          background-color: black;
        }
      }
    }

    .more-interesting-topic {
      display: flex;
      flex-direction: column;

      .topics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

/* End of blog */