@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    /* ===== Colors ===== */
    --primary-color: #0e4bf1;
    --dark-yellow: #f7a33d;
    --dark-purple: #4947a7;
    --white: #fff;
  
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
body {
    min-height: 100vh;
}
/* Colors */
.primary {
    color: var(--dark-purple);
}
.secondary {
    color: var(--dark-yellow);
}
.white {
    color: var(--white);
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--light-purple);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-purple);
}
body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3a3b3c;
}
/* Landing */
.landing {
    height: 100vh;
}
.landing .banner {
    height: calc(100vh - 8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner h1:nth-child(2) {
    font-weight: bold;
}
.banner .banner-details {
    display: flex;
    justify-content: space-between;
}
.banner-details * {
    flex: 1;
}
.banner-details .banner-action {}
.banner-action button {
    border-radius: 10px;
    width: fit-content;
    padding: .5rem 1rem;
}