@import url("./core.css");
@import url("./theme.css");

/* Community */

.community {
    height: 100vh;
    width: 100%;

    .logo {
        max-width: 6rem;
    }

    .sidebar-nav {
        width: var(--offcanvas-width);
    }

    @media (min-width: 992px) {
        .modal-backdrop.show {
            opacity: .0;
        }
    }
}

/* End of Community */