@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
  Notes:
  1 rem = 16px
*/

/* Core */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

// Temporary
img {
  width: 5rem;
  height: 5rem;
}
/* End Core */

/* Profile */

.freelancing {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .left {
    width: 7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;

    .logo {
      border-radius: 50%;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      gap: 3rem;
      font-size: 2rem;
      color: #c8c8c8;
    }

    .controls {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      font-size: 2rem;
      color: #c8c8c8;
    }
  }

  .right {
    width: calc(100% - 7rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fd;

    .header {
      height: 8rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 1rem 0 1rem;
      background-color: white;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

      .header-left {
        margin-right: auto;
      }
      
      .header-right {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .search-and-history {
          display: flex;
          flex-direction: row;
        }

        .notifications {
          display: flex;
          flex-direction: row;
        }

        .profile {

        }
      }
    }

    .lets-find-your-dream-job {
      height: 20rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .lets-find-your-dream-job-first-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .lets-find-your-dream-job-second-row {
        display: flex;
        flex-direction: row;

        .search-field {

        }

        .vertical-divider {
          width: .1rem;
          background-color: black;
          height: 100%;
          float: left;
        }

        .location-field {

        }

        .salary-range-field {

        }

        .lets-find-your-dream-job-second-row-controls {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .jobs {
      height: calc(100% - 28rem);
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 5rem;

      .jobs-left {
        flex: 3;
        display: flex;
        flex-direction: column;
        padding: 0 5rem 0 5rem;

        .job-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .job {
            display: flex;
            flex-direction: column;

            .job-details {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }

            .job-description {
              display: flex;
              flex-direction: row;
            }

            .job-controls {
              display: flex;
              flex-direction: row;
            }
          }
        }
      }

      .jobs-right {
        flex: 1;
        display: flex;
        flex-direction: column;

        .job-filter {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .job-type {
          display: flex;
          flex-direction: column;

          .job-type-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .job-type-item {
            display: flex;
            flex-direction: row;

            div {
              margin-left: auto;
            }
          }
        }

        .experience {
          display: flex;
          flex-direction: column;

          .experience-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .experience-item {
            display: flex;
            flex-direction: row;

            div {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}

/* End of Profile */