@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
  Notes:
  1 rem = 16px
*/
/* Core */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* End Core */
/* Projects */
.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.projects .left {
  width: 30rem;
  background-color: #f4f4f7;
  color: #000;
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.projects .left .header {
  display: flex;
}
.projects .left .header img {
  height: 4rem;
  width: 4rem;
}
.projects .left .menu {
  display: flex;
  flex-direction: column;
}
.projects .left .menu .menu-item {
  display: flex;
}
.projects .left .menu .divider {
  width: 100%;
  height: 0.1rem;
  background-color: #000;
}
.projects .left .controls {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.projects .left .controls .profile {
  display: flex;
}
.projects .left .controls .profile img {
  width: 4rem;
  height: 4rem;
}
.projects .left .controls .profile .profile-details {
  display: flex;
  flex-direction: column;
}
.projects .right {
  width: calc(100% - 30rem);
  background-color: #e4e4e4;
  color: #000;
  display: flex;
  flex-direction: column;
}
.projects .right .header-wrapper {
  padding: 2rem;
  height: 8rem;
}
.projects .right .header-wrapper .header-controls {
  display: flex;
  justify-content: space-between;
}
.projects .right .header-wrapper .header-controls .first-section {
  display: flex;
}
.projects .right .header-wrapper .header-controls .second-section {
  display: flex;
}
.projects .right .header-wrapper .header-controls .third-section {
  display: flex;
}
.projects .right .header-wrapper .header-controls .vertical-bar {
  border-left: thin solid #000;
}
.projects .right .divider {
  width: 100%;
  height: 0.1rem;
  background-color: #000;
}
.projects .right .content {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.projects .right .content .left-inner {
  width: calc(100% - 30rem);
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.projects .right .content .left-inner .insurances {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.projects .right .content .left-inner .insurances .insurance {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.projects .right .content .left-inner .statistics {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 100%;
}
.projects .right .content .right-inner {
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.projects .right .content .right-inner .agents {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 100%;
}
.projects .right .content .right-inner .transactions {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 100%;
}

/* End Projects *//*# sourceMappingURL=projects.css.map */