@import url("./core.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
button {
  font-family: "Inter", sans-serif;
}

/* Theme */

/* Not used right now */
:root {
  --primary-background-color: #ffffff;
  --primary-color: #0d0b52;
  --secondary-color: #3458b9;
  --primary-text-color: #000013;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #292922;
  --white-color: #ffffff;
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

/* Not used right now */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-background-color: #000013;
    --primary-color: #325b97;
    --secondary-color: #9cafeb;
    --primary-text-color: #ffffff;
    --font-color: #e1e1ff;
    --bg-color: #000013;
    --heading-color: #818cab;
  }
}

/* End of Theme */

/* Project */

.project {
  height: 100vh;
  width: 100%;

  .sidebar-nav {
    width: var(--offcanvas-width);
  }

  .sidebar-link {
    display: flex;
    align-items: center;
  }

  .sidebar-link .right-icon {
    display: inline-flex;
  }

  .sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
  }

  @media (min-width: 992px) {
    body {
      overflow: auto !important;
    }

    .navbar {
        height: var(--topNavbarHeight);
    }

    main {
      margin-left: var(--offcanvas-width);
    }

    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
      display: none;
    }

    .sidebar-nav {
      -webkit-transform: none;
      transform: none;
      visibility: visible !important;
      height: calc(100% - var(--topNavbarHeight));
      top: var(--topNavbarHeight);
    }
  }
}

/* End of Project */
