/* Skill - Single */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.skill-single {
  width: 100%;
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  /* Carousel base class */
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */
  /* MARKETING CONTENT
  -------------------------------------------------- */
  /* Center align the text within the three columns below the carousel */
  /* rtl:begin:ignore */
  /* rtl:end:ignore */
  /* Features ------------------------- */
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  /* rtl:end:remove */
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  /* Skill level bar */
}
.skill-single .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
@media (min-width: 768px) {
  .skill-single .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.skill-single .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.skill-single .b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.skill-single .bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.skill-single .nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.skill-single .nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.skill-single main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
.skill-single .dropdown-toggle {
  outline: 0;
}
.skill-single .btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}
.skill-single .btn-toggle:hover,
.skill-single .btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}
.skill-single .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}
.skill-single .btn-toggle[aria-expanded=true] {
  color: rgba(0, 0, 0, 0.85);
}
.skill-single .btn-toggle[aria-expanded=true]::before {
  transform: rotate(90deg);
}
.skill-single .btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.skill-single .btn-toggle-nav a:hover,
.skill-single .btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
.skill-single .scrollarea {
  overflow-y: auto;
}
.skill-single .form-control-dark {
  border-color: var(--bs-gray);
}
.skill-single .form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.skill-single .text-bg-dark {
  color: #fff !important;
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
}
.skill-single .text-small {
  font-size: 85%;
}
.skill-single .dropdown-toggle {
  outline: 0;
}
.skill-single #sidebar-mobile {
  display: none;
  visibility: hidden;
}
.skill-single #sidebar {
  display: flex;
  visibility: visible;
}
@media screen and (max-width: 720px) {
  .skill-single #sidebar {
    display: none;
    visibility: hidden;
  }
  .skill-single #sidebar-mobile {
    display: flex;
    visibility: visible;
  }
}
.skill-single .main-content {
  width: 100%;
  height: 100%;
}
.skill-single .main-content .resource-details {
  height: calc(100vh - 10rem);
  /* Scroll bar inside resource details will get disappear */
}
.skill-single .main-content .resource-details ::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.skill-single .main-content .resource-details .resource-content {
  height: calc(100vh - 10rem - 5rem);
}
.skill-single .main-content .comments .comment {
  background-color: #CBC3E3;
}
.skill-single .carousel {
  margin-bottom: 4rem;
}
.skill-single .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.skill-single .carousel-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 32rem;
}
.skill-single .marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.skill-single .marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.skill-single .feature-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
.skill-single .feature-heading {
  letter-spacing: -0.05rem;
}
@media (min-width: 40em) {
  .skill-single {
    /* Bump up size of carousel content */
  }
  .skill-single .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .skill-single .feature-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .skill-single .feature-heading {
    margin-top: 7rem;
  }
}
.skill-single .skill-level {
  height: 1em;
  margin: 10px 0px;
  min-width: 400px;
}
.skill-single .skill-level span {
  background: linear-gradient(#093, #3f9, #093);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 30px;
  height: 8px;
  display: inline-block;
  margin: 0 1px;
}
.skill-single .show-0 span:nth-child(n+1) {
  background: gray;
}
.skill-single .show-1 span:nth-child(n+2) {
  background: gray;
}
.skill-single .show-2 span:nth-child(n+3) {
  background: gray;
}
.skill-single .show-3 span:nth-child(n+4) {
  background: gray;
}
.skill-single .show-4 span:nth-child(n+5) {
  background: gray;
}
.skill-single .show-5 span:nth-child(n+6) {
  background: gray;
}
.skill-single .show-6 span:nth-child(n+7) {
  background: gray;
}
.skill-single .show-7 span:nth-child(n+8) {
  background: gray;
}
.skill-single .show-8 span:nth-child(n+9) {
  background: gray;
}
.skill-single .show-9 span:nth-child(n+10) {
  background: gray;
}
.skill-single .show-10 span:nth-child(n+11) {
  background: gray;
}

/* End of Skill - Single *//*# sourceMappingURL=skill-single.css.map */