@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
  Notes:
  1 rem = 16px
*/

/* Core */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}
/* End Core */

/* Section 1 */
.section-1 {
    width: 100%;
    display: none;

    .wrapper {
        width: 120rem;

        .navbar {
            height: 8rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left {
                img {
                    width: 5rem;
                    height: 5rem;
                }
            }

            .middle {
                .nav-bar-list {
                    display: flex;
                    flex-direction: row;
                }
            }

            .right {
                .action-btn {
                    border: solid #000 0.1rem;
                    padding: 1rem;
                }
            }
        }

        .banner {
            display: flex;
            flex-direction: row;

            .left {
                img {
                    width: 20rem;
                    height: 20rem;
                }
            }

            .right {
                .social-icons {
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}
/* End Section 1 */

/* Section 2 */
.section-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 120rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .left {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .tag {
                text-transform: uppercase;
            }

            .heading {
                font-size: 3rem;
            }

            .controls {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                .left-arrow {
                    border-radius: 50%;
                    background-color: #f54e6e;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .right-arrow {
                    border-radius: 50%;
                    background-color: #f54e6e;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }

        .right {
            flex-grow: 3;
            
            .carousel {
                display: flex;
                flex-direction: row;
                gap: 2rem;

                .carousel-item img {
                    width: 15rem;
                }
            }
        }
    }
}
/* End Section 2 */

/* Section 3 */
.section-3 {
    width: 100%;
    display: none;

    .wrapper {
        width: 120rem;
        display: flex;
        flex-direction: row;

        .left {

        }

        .middle {

        }

        .right {
            img {
                height: 20rem;
                width: 20rem;
            }
        }
    }
}
/* End Section 3 */

/* Section 4 */
.section-4 {
    width: 100%;
    display: none;

    .wrapper {
        width: 120rem;
        display: flex;
        flex-direction: column;

        .tag {

        }

        .heading {

        }

        .tabs {
            display: flex;
            flex-direction: row;
        }

        .content {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            .content-item {
                img {
                    width: 20rem;
                    height: 20rem;
                }

                .tag {

                }

                .title {

                }
            }
        }

        .see-more {
        }
    }
}
/* End Section 4 */

/* Section 5 */
.section-5 {
    width: 100%;
    display: none;

    .wrapper {
        width: 120rem;
        
        .heading-and-controls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .heading {

            }

            .controls {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                .left-arrow {
                    border-radius: 50%;
                    background-color: #f54e6e;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .right-arrow {
                    border-radius: 50%;
                    background-color: #f54e6e;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
        }

        .testimonials {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .testimonial {
                display: flex;
                flex-direction: row;

                .left {
                    img {
                        width: 20rem;
                        height: 20rem;
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;

                    .heading {

                    }

                    .description {

                    }

                    .profile-details {
                        display: flex;
                        flex-direction: row;

                        .left {
                            justify-content: center;
                            align-items: center;

                            img {
                                height: 5rem;
                                width: 5rem;
                                border-radius: 50%;
                            }
                        }

                        .middle {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: left;
                        }

                        .right {
                            justify-content: center;
                            align-items: flex-end;

                            .stars {
                                display: flex;
                                flex-direction: row;
                            }
                        }

                    }
                }
            }
        }

    }
}
/* End Section 5 */

/* Section 6 */
.section-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;

    .footer {
        width: 120rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;

        .footer-top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10rem;

            .company-details {
                img {
                    width: 20rem;
                    height: 20rem;
                }
            }
        }

        .footer-bottom {
            display: flex;

            .policies {
                display: flex;
            }

            .social-icons {
                display: flex;
            }
        }
    }
}
/* End Section 6 */