@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    /* ===== Colors ===== */
    --primary-color: #0e4bf1;
    --panel-color: #fff;
    --text-color: #000;
    --text-color-inverse: #fff;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #ddd;
    --box1-color: #bcdafb;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;
    --background-purple: #f6f6fb;
    --dark-yellow: #f7a33d;
    --dark-purple: #4947a7;
    --light-purple: #f6f6fb;
  
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
body {
    min-height: 100vh;
}
body.dark {
    --primary-color: #3a3b3c;
    --panel-color: #242526;
    --text-color: #ccc;
    --text-color-inverse: #000;
    --black-light-color: #ccc;
    --border-color: #4d4c4c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ccc;
}
body:not(:nth-child(0)) {
    margin-top: 2rem !important; 
    margin-bottom: 2rem !important;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--light-purple);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-purple);
}
body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3a3b3c;
}
/* Colors */
.primary {
    color: var(--dark-purple);
}
.secondary {
    color: var(--dark-yellow);
}
/* Landing */
.landing {
    height: 100vh;
    background-color: var(--background-purple);
}
.landing .header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
.landing .banner {
    padding-top: 50px;
    height: calc(100vh - 50px);
}
/* Explore */
.explore {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}
.explore .explore-heading {
    display: flex;
    justify-content: space-between;
}
.explore-heading .carousel-buttons {
    font-size: 2rem;
}
.carousel-buttons i:hover {
    color: var(--dark-purple);
}
.explore .explore-body {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.explore-body .explore-item {
    flex: 1;
    border-radius: 5px;
    background-color: var(--light-purple);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-align: center;
}
.explore-item:hover {
    background-color: var(--dark-purple);
    box-shadow: 0px 10px 10px 0px var(--dark-purple);
    color: var(--text-color-inverse);
}
.explore-item img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
.explore-item p {}
/* About Me */
.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-me .about-me-content {
    flex: 1;
}
.about-me img {
    flex: 1;
    max-width: max-content;
    max-height: max-content;
}
@media screen and (max-width: 600px) {
    .about-me {
        flex-direction: row-reverse;
    }
    .about-me img {
        max-width: 250px;
        max-height: 250px;
    }
}
/* Calendly */
.calendly-badge-widget {
    margin-bottom: .5rem;
}
.calendly-badge-widget .calendly-badge-content > span {
    display: none !important;
}