@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
  Notes:
  1 rem = 16px
*/

/* Core */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

// Temporary
img {
  width: 5rem;
  height: 5rem;
}
/* End Core */

/* Teaching */

.teaching {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .left {
    width: 30rem;
    height: 100%;
    border-right: .1rem solid #f6f6f6;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 5rem;

    .title {
      display: flex;
      flex-direction: row;
      font-size: 3rem;
      font-weight: 700;

      .dot {
        color: #f55440;
      }
    }

    .profile-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      img {

      }

      .details {
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      color: #808080;
      font-size: 2rem;
      gap: 3rem;

      .menu-item {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        gap: 2rem;
        font-size: 2rem;
        color: #808080;
      }

      .menu-item-active {
        color: #000000;
      }
    }

    .invite-friends {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 6rem 2rem 2rem 2rem;
      border-radius: 1rem;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      justify-content: center;
      align-items: center;
      gap: .7rem;

      img {
        position: absolute;
        width: 7rem;
        height: 7rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      p {
        color: #808080;
      }

      .get-the-link-btn {
        padding: 1rem 2rem;
        background-color: #f67a50;
        color: white;
        border-radius: 1rem;
      }
    }

    .settings {
      display: flex;
      flex-direction: row;
      margin-top: auto;
      gap: 2rem;
      font-size: 2rem;
      color: #808080;
    }
  }

  .middle {
    width: calc(100% - 110rem);
    height: 100%;
    border-right: .1rem solid #808080;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    gap: 3rem;

    .first-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .my-classes {
        font-size: 4rem;
      }

      .collapse {
        font-size: 4rem;
      }
    }

    .second-row {
      width: 50%;
      font-weight: 300;
      font-size: 2rem;
      color: #acaeb3;
    }

    .third-row > ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      font-size: 1.7rem;

      li {
        padding-bottom: .7rem;
      }

      .active {
        border-bottom: .4rem solid #f78965;
      }
    }

    .fourth-row {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      width: 50%;

      .length-course,
      .status {
        padding: 1rem;
        background-color: #fbfaf6;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    .fifth-row > .course {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1rem;
      padding: .3rem;
      background-color: #e6f4ff;
      border-radius: 2rem;

      .course-left {
        width: 30%;
        background-color: white;
        border-radius: 2rem;
        padding: 5rem 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .star {
          position: absolute;
          padding: 1rem;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          top: 3%;
          right: 3%;
          color: #edc96d;
        }

        .progress-bar {
          height: 0.9rem;
          width: 100%;
          border-radius: 1rem;
          background-color: gray;
        }

        .progress-bar-90 {
          width: 90%;
          height: 0.9rem;
          border-radius: 1rem;
          background-color: #b7e3ef;
        }
      }

      .course-right {
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        width: 100%;
        position: relative;

        .more {
          position: absolute;
          top: 2%;
          right: 2%;
          font-size: 2rem;
          color: #6488ab;
        }

        .tag {
          background-color: white;
          padding: .5rem 1rem;
          color: #d5ab9b;
          border-radius: 1rem;
          width: fit-content;
        }

        .course-title {
          color: #2462a4;
          font-size: 3rem;
          font-weight: 500;
          width: 70%;
          margin-top: 1rem;
        }

        .course-details {
          display: flex;
          flex-direction: row;
          gap: 2rem;
          color: #2462a4;
          margin-top: auto;

          .author,
          .course-time {
            display: flex;
            flex-direction: row;
            gap: .5rem;
          }
        }
      }
    }

    .sixth-row {
    }

    .seventh-row > .course {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1rem;
      padding: .3rem;
      background-color: #f7efff;
      border-radius: 2rem;

      .course-left {
        width: 30%;
        background-color: white;
        border-radius: 2rem;
        padding: 5rem 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .star {
          position: absolute;
          padding: 1rem;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          top: 3%;
          right: 3%;
          color: #edc96d;
        }

        .progress-bar {
          height: 0.9rem;
          width: 100%;
          border-radius: 1rem;
          background-color: gray;
        }

        .progress-bar-90 {
          width: 90%;
          height: 0.9rem;
          border-radius: 1rem;
          background-color: #a57cb2;
        }
      }

      .course-right {
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        width: 100%;
        position: relative;

        .more {
          position: absolute;
          top: 2%;
          right: 2%;
          font-size: 2rem;
          color: #6488ab;
        }

        .tag {
          background-color: white;
          padding: .5rem 1rem;
          color: #a57cb2;
          border-radius: 1rem;
          width: fit-content;
        }

        .course-title {
          color: #1b2979;
          font-size: 3rem;
          font-weight: 500;
          width: 70%;
          margin-top: 1rem;
        }

        .course-details {
          display: flex;
          flex-direction: row;
          gap: 2rem;
          color: #ad64c4;;
          margin-top: auto;

          .author,
          .course-time {
            display: flex;
            flex-direction: row;
            gap: .5rem;
          }
        }
      }
    }
  }

  .right {
    width: 80rem;
    display: flex;
    flex-direction: column;
    background-color: #fbfaf6;

    .controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .notifications {

      }

      .search {

      }
    }

    .statements-wrapper {
      display: flex;
      flex-direction: column;

      .header {

      }

      .statements {
        display: flex;
        flex-direction: row;

        .statements-left {
          display: flex;
          flex-direction: column;

          .goals {
            display: flex;
            flex-direction: column;

            .first-row {

            }

            .second-row {
              display: flex;
              flex-direction: column;
            }

            .third-row {
              .progress-bar {
                height: 0.7rem;
                width: 100%;
                border-radius: 1rem;
                border: .1rem solid black;
              }
      
              .progress-bar-80 {
                width: 80%;
                height: 100%;
                background-color: black;
              }
            }
          }

          .menus {
            display: flex;
            flex-direction: column;

            .menu-item {
              display: flex;
              flex-direction: row;
            }
          }
        }
  
        .statements-right {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .headings-wrapper {
      display: flex;
      flex-direction: column;

      .header {

      }

      .headings {
        display: flex;
        flex-direction: row;

        .headings-left {
          display: flex;
          flex-direction: column;
        }

        .headings-middle {
          display: flex;
          flex-direction: column;
        }
  
        .headings-right {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

/* End of Teaching */