/* Testimonials */

.testimonials {
    width: 100%;
    scroll-behavior: smooth;

    .navbar-nav {
        .active {
            color: white;
        }
    }

    .about-me-control:hover {
        color: green;
        background-color: white;
        border-color: green;
    }
}

/* End of Testimonials */