@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/*** GENERIC CSS ***/
html,body {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #555555;
	background:#fff;
}

body::-webkit-scrollbar {
    width: 0;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }


@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    text-decoration: none;
    color: #555555;
}

a:hover {
    text-decoration: none;
    color: #24a9e2;
}

a:focus {
    text-decoration: none;
}

button {
	outline: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

button:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: 'Poppins', sans-serif;
   color:#383332;
}

h3 {
    font-size:24px;
	font-weight:600;
}

h4 {
    font-size:20px;
	font-weight:600;
}

h5 {
    font-size:20px;
    line-height: 1.5;
	color:#ee786b;
}

.d-table {
    width: 100%;
    height: 100%;
}

.d-table-cell {
    vertical-align: middle;
}

p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.8;
}

p:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.visible-xs {
    display: none;
}

.btn-default {
    background:#09b666;
    padding:10px 35px;
    color:#fff;
    border-radius: 0px;
    min-width: 200px;
    text-transform: uppercase;
}

.btn-default:hover {
    color: #fff;
    background:#134db8;
}

.underlined {
    position: relative;
    display: inline-block;
}

.underlined::after {
    content:'';
    width:100px;
    background:#134db8;
    height: 4px;
    position:absolute;
    top:100%;
    left: 0%;
}

ul.list li {
    margin:0px 0px 15px 0px;
}

/*** PRELOADER ***/
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 99999;
}

.preloader .lds-ripple {
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.preloader .lds-ripple div {
    position: absolute;
    border: 2px solid #134db8;
    opacity: 1;
    border-radius: 0;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.preloader .lds-ripple div:nth-child(2) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
}

.flush {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

@-webkit-keyframes lds-ripple {
0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
}
}

@keyframes lds-ripple {
0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
}
}

.img-rounded {
    border-radius: 15px;
}

.hover-animate {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.hover-animate:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

/*** HEADER ***/
.header {
    background: #fff;
    padding: 13.5px 32px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    z-index: 99999;
    position: relative;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    position: relative;
    width: 102px;
}

.navbar {
    padding: 0;
}

.navbar-nav .nav-link {
	color:#383332;
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	font-weight:600;
	padding: 10px 20px !important;
	border-radius: 22px;
}

.navbar-nav li.nav-item {
	padding: 0px 10px !important;
}

.navbar-nav .nav-link .fa{
	margin-right:5px;
	color:#000;
}

.navbar-nav li.nav-item.active a,.navbar-nav li.nav-item:hover a {
	background:transparent;
	color:#000 !important;
}

.navbar-nav li.nav-item.active a {
    position: relative;
    border-radius: 0;
    padding: 10px 0 !important;
}

.navbar-expand-lg .navbar-nav li.nav-item.pr-0 {
    padding: 0 !important;
    display: flex;
}

.navbar-nav li.nav-item.active a::after {
    content: "";
    border-width: 0px 0px 3px 0px;
    border-color: rgb(255, 56, 92);
    border-style: solid;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 15px;
    border-radius: inherit;
    pointer-events: none;
}

.header .btn-primary {
	border-radius:100%;
	background:#F8FAFC;
	box-shadow:none;
	border:none;
	position:relative;
	color:#383332;
	font-size:18px;
	margin-top:13px;
}

.dropdown {
	background:none;
	border:none;
	width:270px;
	box-shadow:none !important;
}

.btn-secondary {
	background:none!important;
	width:100%;
	border:none;
	text-align:left;
	color: #383332;
	box-shadow:none !important;
	box-shadow:none;
}

.btn-secondary:focus {
	
}

.dropdown-toggle::after {
	display:none;
}

.dropdown .btn-secondary h6 {
	font-size:14px;
}


.dropdown .fa {
    float: left;
    margin-right: 15px;
    margin-top: 7px;
    border-radius: 100%;
    background:#F8FAFC;
    box-shadow: none;
    border: none;
    position: relative;
    color: #383332;
    height:39px;
    width:42px;
    line-height: 39px;
    font-size:22px;
    text-align: center;
}

.header a.profile_image {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
}

.xs-menu {
	display:none;
}

#toolbar {
    background: #fff;
    padding: 11.5px 32px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    z-index: 99999;
    position: relative;
}

#toolbar.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
}

.toolbar_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toolbar_wrapper .views_changes {

}

.toolbar_wrapper .views_changes .btn-group {
    place-content: center flex-start;
    align-items: center;
    background-color: rgb(243, 243, 242);
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 0px;
    height: 48px;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: min-content;
}

.toolbar_wrapper .views_changes button.btn.btn-primary.im-grid {
    place-content: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 10px;
    height: 48px;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: 48px;
    border: none;
}

.toolbar_wrapper .views_changes button.btn.btn-primary.map-view {
    place-content: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 10px;
    height: 48px;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: 48px;
    border: none;
    background: transparent;
}

:focus {
    box-shadow: none !important;
}

label {
	font-size: 0.75rem;
	font-weight: 400;
	display: block;
	margin-bottom: 0.5rem;
	color: #B0BEC5;
	border: 1px solid #ECEFF1;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
}
input {
	font-family: 'Roboto', sans-serif;
	display:block;
	border: none;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	line-height: 1.5rem;
	padding: 0;
	font-size: 1rem;
	color: #607D8B;
	width: 100%;
	margin-top: 0.5rem;
}
input:focus {outline: none;}
#ui-datepicker-div {
	display: none;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #78909C;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: #546E7A;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {	
	background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #009688;
	color: white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
	background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {	
	left: 0;	
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
	color: #78909C;
	font-weight: 400;
	font-size: 0.75rem;
}

.toolbar_wrapper .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.toolbar_wrapper .options select.form-select {
    place-content: center flex-start;
    align-items: center;
    background-color: rgb(243, 243, 242);
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 0px;
    height: 48px;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    width: 240px;
    border: navajowhite;
}

.toolbar_wrapper .options label {
    margin: 0;
    place-content: center flex-start;
    align-items: center;
    background-color: rgb(243, 243, 242);
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 12px;
    height: 48px;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    width: min-content;
    width: 144px;
    border: none;
}

.toolbar_wrapper .options label input#datepicker {
    margin: 0;
    background: transparent;
    font-size: 14px;
}

.toolbar_wrapper .options .quantity {
    background-color: rgb(243, 243, 242);
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 16px;
    height: 48px;
    overflow: visible;
    padding: 12px 8px;
    position: relative;
    width: min-content;
    flex-direction: row;
    width: 173px;
    justify-content: center;
    align-items: center;
}

.toolbar_wrapper .options .quantity p {
    margin: 0;
    font-size: 14px;
    color: rgb(17, 17, 17);
}

.toolbar_wrapper .options .quantity a.btn_a {
    place-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 10px;
    height: 32px;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: 32px;
}

.toolbar_wrapper .filter {

}

.toolbar_wrapper .filter button#filter {
    background-color: rgb(243, 243, 242);
    height: 100%;
    width: 100%;
    opacity: 1;
    border-radius: 8px;
    place-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    height: 48px;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: 48px;
}

section#content_wrapper {
    display: flex;
    flex-direction: row;
}

section#content_wrapper .sidebar {
}

section#content_wrapper .sidebar:hover {
}

section#content_wrapper .sidebar ul {
    padding: 0;
    list-style: none;
    place-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    padding: 16px 0px;
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    width:92px;
	-webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    height: 100%;
}

section#content_wrapper .sidebar ul:hover {
	width:100%;
}

section#content_wrapper .sidebar ul:hover li a span {
    width: auto;
	-webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

section#content_wrapper .sidebar ul li a span {
    width: 0;
    overflow: hidden;
	-webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

section#content_wrapper .sidebar ul li {
    width: 100%;
}

section#content_wrapper .sidebar ul li a {
    place-content: center flex-start;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
    height: 48px;
    overflow: visible;
    padding: 8px 26px;
    position: relative;
	/*-webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
	width:85px;*/
}

section#content_wrapper .sidebar ul li a:hover {
	background: rgb(245, 245, 245);
	color: #000;
	/*width: 100%;*/
}

section#content_wrapper .sidebar ul li:first-child a {
    border-right: 3px solid rgb(212, 59, 81);
}

section#content_wrapper .content {
    width: 100%;
    display: grid;
    flex: 1 0 0px;
    gap: 24px;
    grid-auto-rows: minmax(0px, 1fr);
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(0px, 1fr));
    height: 100%;
    justify-content: center;
    padding: 32px;
    position: relative;
    width: 1px;
}

.grid_wrapper {

}

.grid_wrapper .card {
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    border-color: rgba(17, 17, 17, 0.1);
}

.grid_wrapper .card a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid_wrapper .card a:hover {
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 24px 0px;
}

.grid_wrapper .card:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 24px 0px;
}

.grid_wrapper .card a .thumbnail {
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.grid_wrapper .card a .thumbnail span {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    display: grid;
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 50%;
}

.grid_wrapper .card a .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_content {
    place-content: flex-start space-between;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    height: 180px;
    padding: 20px;
    position: relative;
    width: 100%;
}

.card_content h2 {
    font-size: 18px;
    margin: 0;
    line-height: 24px;
    font-weight: 500;
}

.card_content p {
    margin: 0;
    margin-top: 5px;
}

.footer_card {
    place-content: center space-between;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    height: min-content;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: 100%;
}

.footer_card h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-content {
    position:absolute;
	top:0px;
	right:0px;
	width:75%;
	padding:30px;
	background:#fff;
	height:100%;
}

.sidebar-content .sidebar_inner {
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	padding:30px;
	background:#fff;
	height:100%;
    overflow-y: scroll;
}

.sidebar-content .h-50 {
	height:50% !important;
}

.sidebar-content .border-radius {
	border-radius:20px;
}

.sidebar-content .main-img {
	height:480px;
}

.sidebar-content .main-img-two {
	height:224px;
}

.service-details {
	border-bottom:1px solid rgba(17, 17, 17, 0.1);
	margin-bottom:15px;
}

.service-details h4 {
    font-size: 16px;
    margin-top: 15px;
}

.service-details span {
	border:1px solid rgba(17, 17, 17, 0.1);
	font-size:14px;
	background-color: rgb(255, 255, 255);
	text-align:center;
	padding:8px 12px;
	color:#000;
	border-radius: 12px;
}

.service-details h3 {
	font-size:32px;
	font-weight:500;
	margin:15px 0px;
}

.service-details h6 {
	color:#727272;
	font-size:16px;
}

.service-details ul {
	padding-left:0px;
}

.service-details ul li {
	list-style:none;
	display:inline-block;
	font-size:16px;
	line-height:30px;
	padding:10px 18px;
}

.service-details ul li img {
	float:left;
	margin-right:5px;
}

.service-details ul li:first-child {
	padding-left:0px;
}

h3.head-title {
	font-size: 18px;
	font-weight:700;
	line-height: 24px;
	color: rgb(17, 17, 17);
	margin-top:0px;
}

a.read-more{
	color:#d33b50;
	font-size:14px;
	font-weight:600;
}

.service-details p {
	font-size: 14px;
	line-height: 20px;
	color: rgb(113, 113, 113);
}

.service-details .sm-size {
	font-size:14px;
	margin-top:16px;
}

.service-details ul.icon-list li:first-child {
	padding-left:15px !important;
}

.service-details ul.icon-list li {
    line-height: 24px;
    min-height: 50px;
    font-size: 14px;
}

.service-details .reviews {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 20px;
    padding: 20px 15px;
}

.service-details .reviews td:first-child {
	width:30%;
}

.service-details .reviews td {
	border:none;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: rgb(17, 17, 17);
	vertical-align:middle;
}

.service-details .reviews td:last-child {
	width:5%;
}

.service-details .progress {
    background: linear-gradient(90deg, rgb(211, 59, 80) 0%, rgb(198, 47, 101) 100%);
    border-radius: 100px;
    flex: 0 0 auto;
    height: 8px;
    position: relative;
}

.service-details .card {
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 20px;
	padding: 20px;
}

.service-details .card h5 {
	font-size: 16px;
	font-weight:600;
	margin-top:5px;
	color: rgba(17, 17, 17, 1);
}

.service-details .card p {
	margin-bottom:0px;
}

.service-details .card label {
	font-size: 14px;
	font-weight: 500;
	border:none;
	padding:0px;
	color: rgba(113, 113, 113, 1);
}

.price-list {
	border-bottom-width: 1px;
    align-items: flex-start;
    background-color: rgb(245, 245, 244);
    border-radius: 20px;
    overflow: visible;
    padding: 24px;
    width:100%;
    will-change: transform;
    z-index: 1;
	border:1px solid rgba(17, 17, 17, 0.04);
}

.price-sidebar {
	position: sticky;
	top:0px;
	height:700px;
}

.price-list h3 sub {
	size: 14px;
	color: rgb(17, 17, 17);
	font-weight:300;
}

.price-list form label {
	size:14px;
	height: 20px;
	color: rgb(113, 113, 113);
	border:none;
	padding:0px;
	font-weight:600;
}

.price-list form input {
	height:48px;
	width:100%;
	border:1px solid rgba(17, 17, 17, 0.04);
	padding-left:40px;
	border-radius:10px;
	background:#fff url(../img/svgexport-63.png) 10px 12px no-repeat;
}

.price-list .form-row {
	padding:7px 0px;
}

.price-list form select {
	height:48px;
	width:100%;
	border:1px solid rgba(17, 17, 17, 0.04);
	padding-left:15px;
	border-radius:10px;
	background:#fff url(../img/svgexport-77.png) 95% 50% no-repeat;
	-webkit-appearance:none;
	outline:0;
}

.price-list form td {
	border:none;
	size: 14px;
    font-weight:600;
    height: 20px;
	padding:7px 10px;
    color:rgb(17, 17, 17);
}

.price-list form  td:last-child {
	text-align:right;
	font-weight:normal;
}

.price-list form td h5 {
	font-weight:600;
	size: 18px;
	color:rgb(17, 17, 17);
}

.price-list form td span {
	font-weight:500;
	size:14px;
	color: rgb(113, 113, 113);
}

.price-list button {
	width:100%;
	height:48px;
	color:#fff;
	font-size:16px;
	font-weight:600;
	line-height:48px;
	background: linear-gradient(95.006deg, rgb(211, 59, 80) 0%, rgb(198, 47, 101) 100%);
	border-radius: 12px;
}

.price-list hr {
	border-top:1px solid rgba(17, 17, 17, 0.04);
	margin:8px 0px !important;
}

.price-sidebar .media {
    border: 1px solid rgba(17, 17, 17, 0.04);
    background-color: rgba(212, 59, 81, 0.04);
    border-radius: 20px;
    padding: 24px;
    margin-top: 25px;
}

.price-sidebar .media h5 {
	color: rgb(17, 17, 17);
	font-size:17px;
	font-weight:600;
	margin-bottom:5px;
}

.price-sidebar .media p {
	font-size: 14px;
	line-height: 20px;
	color: rgb(113, 113, 113);
}

.black_overlays {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.black_overlays.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(17, 17, 17, 0.4);
    display: inline-block;
    z-index: 9999999;
}

.full-sidebar {
    position: fixed;
    /* background: rgba(0,0,0,0.5); */
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index: 9999999;
}

.full-sidebar.intro {
	right:0px;
}

.service-details .reviews table.table {
    margin: 0;
}

a.closebtn {
    position: absolute;
    top: 16px;
    left: -55px;
    height: 36px;
    width: 36px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.closebtn img {
	height:10px;
}

body.intro-two {
	overflow:hidden;
}

.image_g_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.image_g_wrapper .image_g_single {
    width: 60%;
    height: 480px;
    position: relative;
}

.image_g_wrapper .image_g_single a {
    place-content: center flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    bottom: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 12px;
    height: 36px;
    left: 16px;
    overflow: visible;
    padding: 12px 16px;
    position: absolute;
    z-index: 1;
    width: auto;
}

.image_g_wrapper .image_g_single a:hover {
    color: #000;
}

.image_g_wrapper .image_g_single img.border-radius.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_g_wrapper .image.g_dubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 40%;
    height: 480px;
}

.image_g_wrapper .image.g_dubble img.border-radius.main-img-two.w-100 {
    width: 100%;
    height: 232px;
    object-fit: cover;
}

.map-details {
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    margin-bottom: 15px;
}

.map-details .map {
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.host-details {

}

.host-details .media {
    margin-top: 25px;
}

.host-details .media h5 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    color: rgba(17, 17, 17, 1);
}

.host-details .media label {
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 0px;
    color: rgba(113, 113, 113, 1);
}

.host-details .media a {
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    height: 48px;
    overflow: visible;
    padding: 8px 24px;
    position: relative;
    width: auto;
    border: 1px solid #717171;
    border-radius: 12px;
}

.host-details .media a:hover {
    color: #000;
}

.f_point {
    margin-top: 20px;
}

.f_point ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

.f_point ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}


.filter_sidebar {
	position:fixed;
	/* background:rgba(0,0,0,0.5); */
	top:0px;
	right:-100%;
	width:400px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) -8px 0px 40px 0px;
	height:100%;
	-webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    padding-top: 7.5%;
    overflow-y: scroll;
}

.filter_sidebar.intro {
	right:0px;
}

.inner_filter {
    padding: 24px 24px;
}

.mini_sec_1 {
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.inner_filter h2 {
    font-size: 18px;
    color: rgb(17, 17, 17);
    line-height: 24px;
    font-weight: 600;
    margin: 0;
}

.inner_filter a {
    font-size: 14px;
    line-height: 20px;
    color: rgb(211, 59, 80);
    margin: 0;
}

.inner_filter a:hover {
    color: #000;
}

.inner_filter p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(113, 113, 113);
    margin: 0;
    margin-top: 5px;
}

.mini_sec_2 {
    padding: 24px 0px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.mini_sec_2 .input_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.mini_sec_2 .input_group label {
    font-size: 12px;
    padding: 0;
    border: none;
    color: rgb(113, 113, 113);
    width: 100%;
    margin: 0;
}

.mini_sec_2 .input_group input[type="text"] {
    place-content: flex-start center;
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    height: 48px;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(17, 17, 17, 0.2);
}

.mini_sec_3 {
    padding: 24px 0px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.mini_sec_3 .form-check {
    padding: 0;
    padding-left: 24px;
    margin-top: 20px;
}

.mini_sec_3 .form-check input {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(17, 17, 17, 0.2) !important;
    border-radius: 4px !important;
}

.mini_sec_3 .form-check label.form-check-label {
    width: auto;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 18px;
    color: rgb(17, 17, 17);
    padding-left: 10px;
}

.mini_sec_3 .form-check label.form-check-label p {
    margin: 0;
}

.mini_sec_4 {
    padding: 24px 0px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    padding-bottom: 120px;
}

.mini_sec_4 h2 {
    margin-bottom: 15px;
}

.mini_sec_4 ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 10px;
    justify-content: space-around;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mini_sec_4 ul li {
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    height: 36px;
    overflow: visible;
    padding: 12px;
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.2);
    width: 100%;
    border-radius: 100px;
}

.mini_sec_4 ul li:first-child {
    background: #000;
    color: #fff;
}

.footer_filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    position: fixed;
    bottom: 0px;
    width: 400px;
    background: #fff;
    border-top: 1px solid rgba(17, 17, 17, 0.1);
}

.footer_filter button {
    background: #ecb0bb;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    opacity: 1;
    place-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    height: 48px;
    overflow: visible;
    padding: 8px 24px;
    font-size: 14px;
    position: relative;
    color: #fff;
}

.radio-toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
}
.radio-toolbar input[type="radio"] {
    display: none;
  }
  .radio-toolbar label {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 100px;
    height: 36px;
    width: 50px;
    cursor: pointer;
    margin: 0;
    text-align: center;
    color: #000;
    margin-right: 2px;
    line-height: 34px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    transition: 0.2s;
}
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #3da5ff;
    color:#fff;
    border-color: #3da5ff;
  }
  .radio-toolbar input[type="radio"]+label:hover {
    background-color: #3da5ff;
    color:#fff;
    border-color: #3da5ff;
  }