.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    z-index: 10;
}

.header .header_logo {
    flex: 40%;
}

.header .header_nav {
    flex: 60%;
}

.header_nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_nav > ul > li {
    list-style: none;
}

.header_nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.header_nav li a.active::after {
    content: "";
    background: url('../../images/line.png') no-repeat;
    background-size: 70px !important;
    position: absolute;
    display: block;
    height: 70px;
    width: 70px;
}

.header .say_hello_or_hire {
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
}

.header .header_nav .language_dropdown .language_nav {
    display: none;
    position: absolute;
}

.show_language {
    display: block !important;
}