.rich-text {
    p {
        margin-bottom: 2rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        --tw-text-opacity: 1;
        color: rgb(163 163 163 / var(--tw-text-opacity));
    }
}
