@media only screen and (max-width:767px) {
.flush-xs {
    padding-right: 0px;
    padding-left: 0px;
} 

.navbar-toggler {
    line-height: 1;
    padding: 0;
    border-radius: 0;
}
.navbar-toggler.menu-icon {
    width:30px;
    padding:0;
    cursor: pointer;
    position: relative;
    border:0px;
}
.navbar-toggler.menu-icon span {
    width: 100%;
    height:2px;
    display: block;
    background-color: #000;
    margin: 6px 0;
    -webkit-transition: .5s;
    transition: .5s;
}
.navbar-toggler.menu-icon.active span {
    position: absolute;
    top: calc(50% - 8px);
}
.navbar-toggler.menu-icon.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.navbar-toggler.menu-icon.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.navbar-toggler.menu-icon.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: none;
} 

.visible-xs {
    display: inline-block;
}

.xs-100 {
    width: 100%;
}

.hidden-xs {
	display:none;
}

.navbar-collapse {
	background:#fff;
}

.navbar-light .navbar-brand {
    width:75%;
}

.navbar-nav .nav-item {
    margin: 0px 15px !important;
}

.navbar-light .navbar-brand img {
    max-height: 100px;
}

.dropdown-menu h4 {
    border-bottom: 1px solid #0d0e10;
    font-weight: 600;
    font-size: 21px;
    padding: 0px 0px;
}

.dropdown-menu h4 sup {
    font-size: 15px;
    margin-right: 20px;
}

.dropdown-menu .pt-5 {
	padding-top:0px !important;
}

.banner .pt-6 {
    padding-top:20px;
}

.xs-center {
	text-align:center !important;
}

h1 {
    font-size: 48px;
}

p {
	font-size:18px;
}

.client-details {
	position:relative;
}

.dropdown-menu {
	margin:0px;
	padding:0px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}


.product .pl-5 {
	padding-left:15px !important;
}

.product ul {
	padding-left:0px;
}

.product ul li sup {
    font-size: 16px;
}

.product ul li a {
    color: #0d0e10;
    font-size: 22px;
    font-weight: 600;
}

.work .owl-theme .owl-nav {
    top: -100px;
    left: 50%;
    margin-left: 35px;
}

.work .images {
	height:250px;
}

.work h3 {
    font-size: 20px;
}

.work {
	padding-bottom:0px;
}

.big-font h2 {
    font-size: 46px;
}

.numbers img {
	margin-top:20px;
}

.product,.priority {
	padding:80px 0px;
}

.priority h2 {
    font-size: 26px;
	margin-bottom:30px;
}

.independent {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -115px;
    box-shadow: 0 24px 94px 0 rgba(0, 0, 0, 0.08);
    width: 60%;
}

.play-video .pl-5 {
	padding-left:15px !important;
}

.play-video .pl-5 .row.row {
	margin:0px !important;
}

.priority ul {
	margin-bottom:80px;
}

.resources .nav li button {
    margin: 0px 0px;
}

.resources .card {
	margin-bottom:35px;
	height:auto;
}

.contact-form .bg-form {
	padding:15px;
}

.contact-form form {
	padding:15px;
}

.contact-form form h3 {
    font-size: 26px;
}

.contact-form {
	padding-bottom:0px;
}

#testimornial .testimonial-content {
    width: auto;
    font-size: 17px;
}

#testimornial .testimonial-content-wrap {
    padding: 70px 20px 0px;
}

#testimornial ul#pills-tab {
    gap: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin-top: 10%;
    flex-wrap: nowrap;
}

#testimornial button.active img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#testimornial button span h3 {
    margin: 0;
    font-size: 18px;
    color: #000;
}

#testimornial button span p {
    font-size: 13px;
}

#testimornial button img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    transition: 0.3s;
}

#testimornial .testimonial-arrow.third-tab {
    left: 120px;
}

#testimornial .testimonial-arrow.first-image {
    right: 126px;
}

.blog_card a {
    width: 100%;
}
.blog_card a h3 {
    font-size: 25px;
}
.blog_card h6 {
    font-size: 14px;
}
#testimornial {
    padding: 50px 0px;
    overflow: hidden;
}
.blog_card a img.latest-image-wrap {
    position: absolute;
    left: auto;
    top: 0%;
    right: -8px;
    width: 248px;
    margin-top: -31px;
}

}

@media only screen and (min-width:768px) and (max-width:992px) {
.nav-link, .navbar-expand-md .navbar-nav .nav-link, .header a {
    font-size:13px;
    padding-left: 10px;
    padding-right: 10px;
} 

.navbar-nav .nav-item {
    margin: 0px 15px !important;
} 

.navbar-toggler.menu-icon {
    width:35px;
    padding:0;
    cursor: pointer;
    position: relative;
    border:0px;
}
.navbar-toggler.menu-icon span {
    width: 100%;
    height:3px;
    display: block;
    background-color: #000;
    margin: 6px 0;
    -webkit-transition: .5s;
    transition: .5s;
}
.navbar-toggler.menu-icon.active span {
    position: absolute;
    top: calc(50% - 8px);
}
.navbar-toggler.menu-icon.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.navbar-toggler.menu-icon.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.navbar-toggler.menu-icon.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: none;
} 

.header .nav-item {
    margin: 0px 5px;
}

.visible-sm {
	display:block !important;
}

.hidden-sm {
	display:none!important;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

.product .pl-5 {
	padding-left:0px !important;
}

.product ul {
	padding-left:0px !important;
	margin-top:20px;
}

.big-font h2 {
    font-size: 40px;
}

p {
	font-size: 16px;
}

.play-video h3 {
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-style: italic;
}

.play-video h5 {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 142%;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.32px;
}

.play-video h6 {
    color: #fff;
    font-size: 15px;
    letter-spacing: -0.32px;
    font-weight: 500;
}

.play-video .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    margin-left: 44px;
    bottom: -60px;
}

.resources .card h3 {
    font-size: 24px;
    font-weight: 800;
}

.question .card-header button {
	font-size: 18px;
	padding-right: 40px;
}

.priority {
    padding:80px 0px;
}

.stay .card {
	margin-bottom:15px;
}

.contact-form .bg-form {
	padding:15px;
}

.play-video .pl-5 .row.row {
	margin:0px !important;
}

.banner .pt-6 {
    padding-top:50px;
}

.dropdown-menu h4 {
    border-bottom: 1px solid #0d0e10;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 0px;
}

.dropdown-menu h4 sup {
    margin-top: 7px;
    margin-right: 28px;
    color: rgba(13, 14, 16, 0.4);
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    margin-right: 14px;
}

#testimornial .testimonial-content {
    width: auto;
    font-size: 17px;
}

#testimornial .testimonial-content-wrap {
    padding: 70px 20px 0px;
}

#testimornial ul#pills-tab {
    gap: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin-top: 10%;
    flex-wrap: nowrap;
}

#testimornial button.active img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#testimornial button span h3 {
    margin: 0;
    font-size: 18px;
    color: #000;
}

#testimornial button span p {
    font-size: 13px;
}

#testimornial button img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    transition: 0.3s;
}

#testimornial .testimonial-arrow.third-tab {
    left: 120px;
}

#testimornial .testimonial-arrow.first-image {
    right: 126px;
}

.blog_card a {
    width: 95%;
}
.blog_card a h3 {
    font-size: 30px;
}
.blog_card h6 {
    font-size: 14px;
}
#testimornial {
    padding: 50px 0px;
    overflow: hidden;
}
.blog_card a img.latest-image-wrap {
    position: absolute;
    left: auto;
    top: 0%;
    right: -8px;
    width: 248px;
    margin-top: -31px;
}

}

@media only screen and (min-width:993px) and (max-width:1169px) {
	
.play-video .owl-theme .owl-nav {
    bottom: -60px;
}	

.contact-form .bg-form {
    padding:20px;
}

.newsletter ul li {
    padding: 0px 4px;
}
	
}