.loading {
    position: relative;
}

.loading span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    animation: rotateLetter 2s infinite;
    animation-delay: calc(.2s * var(--i));
}

@keyframes rotateLetter {
    0%, 80% {
        transform: rotateY(360deg);
    }
}