@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula:700');
@import url('https://fonts.googleapis.com/css?family=Righteous');

.loading_screen {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_screen_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    position: relative;
}

.loading span {
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    animation: rotateLetter 2s infinite;
    animation-delay: calc(.2s * var(--i));
}

.loading span:not(:last-child) {
    margin-right: 20px;
}

@keyframes rotateLetter {
    0%, 80% {
        transform: rotateY(360deg);
    }
}

.hey_shadows {
    position: absolute;
    top: 0;
    right: 0;
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px var(--color-quinary);
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 2vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    letter-spacing: 0.4rem;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }
    10% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
    }
    30% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    }
    50% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    }
    60% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    }
    70% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
    }
    90% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(-12px, -12px);
    }
    50% {
        transform: translate(-12px, -12px);
    }
    60% {
        transform: translate(-12px, -12px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.always_be {
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    width: 550px;
}

.always_be span {
    font-size: 40px;
    margin-left: 10px;
}

.always_be .message {
    position: absolute;
    background-color: yellow;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 240px;
    animation: openclose 5s ease-in-out infinite;
}

.always_be .word1, .always_be .word2, .always_be .word3 {
    font-family: tahoma;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }
    5% {
        width: 0;
    }
    15% {
        width: 230px;
    }
    30% {
        top: 0.2rem;
        width: 230px;
    }
    33% {
        top: 0.2rem;
        width: 0;
    }
    35% {
        top: 0.2rem;
        width: 0;
    }
    38% {
        top: -4.5rem;
    }
    48% {
        top: -4.5rem;
        width: 190px;
    }
    62% {
        top: -4.5rem;
        width: 190px;
    }
    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }
    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    86% {
        top: -9rem;
        width: 285px;
    }
    95% {
        top: -9rem;
        width: 285px;
    }
    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 2rem;
    text-align: center;
    height: 50px;
    width: 300px;
    display: block;
    position: relative;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    top: -0.14em;
    left: 10px;
}

.name {
    position: relative;
    display: inline-block;
    font-family: 'Righteous', serif;
    font-size: 6em;
    text-shadow: .03em .03em 0 rgb(255, 255, 255);
}

.name::after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em;
    left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient(
        45deg,
        transparent 45%,
        rgb(0, 0, 0) 45%,
        rgb(0, 0, 0) 55%,
        transparent 0
    );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
    0% {
        background-position: 0 0;
    }
    0% {
        background-position: 100% -100%;
    }
}