.landing_page_line {
    position: absolute;
    top: 50%;
    left: 20%;
}

.sub_line {
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
}

.sub_detail {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

.landing-actions > button, .landing-actions > button > i  {
    margin-right: 10px;
}

.landing-actions > button span {
    letter-spacing: 2px;
}

.landing-actions span {
    font-family: 'Shadows Into Light', cursive;
}

.landing .social-icons a {
    color: white;
}

.landing .social-icons .fa-brands {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.landing .social-icons .fa-brands:hover {
    opacity: 0.7;
}

.landing .social-icons .fa-facebook-f {
    background-color: #3B5998;
}

.landing .social-icons .fa-instagram {
    background-color: #125688;
}

.landing .social-icons .fa-twitter {
    background-color: #55ACEE;
}

.landing .social-icons .social-icon:not(:last-child) {
    margin-right: 10px;
}

.landing .hey_shadows {
    position: relative;
    top: 0;
    right: 0;
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px var(--color-quinary);
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(0.1rem + 2vw);
    margin: 0;
    color: var(--color-primary);
    letter-spacing: 0.4rem;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }
    10% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
    }
    30% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    }
    50% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    }
    60% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    }
    70% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
        text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
    }
    90% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
        text-shadow: none;
    }
}