.forum {
    margin-left: 70px;
    margin-top: 90px;
    position: relative;
}

.tag_marker {
    display: inline-block;
    height: 10px;
    width: 30px;
    border-radius: 4px;
    background-color: blue;
    margin-right: 10px;
}

#forum-left-back {
    display: none;
}

.forum-sidebar-on #forum-left-back {
    display: block;
    transition: all 300ms ease;
}

.forum-sidebar-on #forum-left {
    display: none;
    transition: all 300ms ease;
}