.contact {
    margin-left: 70px;
    margin-top: 90px;
    position: relative;
    text-align: center;
}

.contact .title {
    text-transform: uppercase;
}

.contact .subtitle {
    font-weight: 700;
}

.contact::before {
    content: "";
    background: url('../../images/header_pattern_3.png') no-repeat;
    position: absolute;
    height: 169px;
    width: 153px;
    right: 150px;
}

.contact .card-body .input-group {
    width: 50%;
}

.contact .card-body .input-group.contact-input, .contact .card-body .input-group.message {
    width: 100%;
}