@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.landing_page_line {
    position: absolute;
    top: 50%;
    left: 20%;
}

.sub_line {
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
}

.sub_detail {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

.landing-actions > button, .landing-actions > button > i  {
    margin-right: 10px;
}

.landing-actions > button span {
    letter-spacing: 2px;
}

.landing-actions span {
    font-family: 'Shadows Into Light', cursive;
}

.landing .social-icons a {
    color: white;
}

.landing .social-icons .fa-brands {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.landing .social-icons .fa-brands:hover {
    opacity: 0.7;
}

.landing .social-icons .fa-facebook-f {
    background-color: #3B5998;
}

.landing .social-icons .fa-instagram {
    background-color: #125688;
}

.landing .social-icons .fa-twitter {
    background-color: #55ACEE;
}

.landing .social-icons .social-icon:not(:last-child) {
    margin-right: 10px;
}