.mentorship {
    margin-left: 70px;
    margin-top: 90px;
    position: relative;
}

.mentorship .title {
    text-transform: uppercase;
}

.mentorship .subtitle {
    font-weight: 700;
}

.mentorship .content {
    text-align: center;
}

.mentorship::before {
    content: "";
    position: absolute;
    background: url('../../images/header_pattern_3.png') no-repeat;
    height: 169px;
    width: 153px;
    top: 100px;
    left: -40px;
}

.mentorship::after {
    content: "";
    background: url('../../images/header_pattern_2.png') top -130px right -110px no-repeat;
    position: absolute;
    height: 534px;
    width: 534px;
    left: -400px;
    top: 10px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.mentorship .content .content_with_line, .mentorship .content .button_with_line {
    position: relative;
}

.mentorship .content .content_with_line .line {
    position: absolute;
    top: 35px;
    width: 300px;
}

.mentorship .content .button_with_line .line {
    position: absolute;
    top: 30px;
    left: 800px;
    width: 300px;
}