.mentorship {
    margin-top: 100px;
}

.mentorship .title {
    text-transform: uppercase;
}

.mentorship .subtitle {
    font-weight: 700;
}

@media (min-width: 768px) {
    .drop_a_message {
        display: inline-block;
    }
}