.mystory {
    margin-left: 70px;
    margin-top: 90px;
    position: relative;
}

.mystory .title {
    text-transform: uppercase;
}

.mystory .subtitle {
    font-weight: 700;
}

.mystory::before {
    content: "";
    background: url('../../images/header_pattern_3.png') no-repeat;
    position: absolute;
    height: 169px;
    width: 153px;
    right: 150px;
}