.projectsandworks {
    margin-left: 70px;
    margin-top: 90px;
    position: relative;
}

.projectsandworks .title {
    text-transform: uppercase;
}

.projectsandworks .subtitle {
    font-weight: 700;
}

.projectsandworks::before {
    content: "";
    background: url('../../images/header_pattern_3.png') no-repeat;
    position: absolute;
    height: 169px;
    width: 153px;
    right: 150px;
}

.project {
    position: relative;
}

.project .favorite {
    position: absolute;
    right: 10px;
    top: 20px;
}

.project::after {
    content: "";
    background: url('../../images/rectangle_pattern_1.svg') no-repeat;
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: -30px;
    right: -30px;
    z-index: -1;
}