.header {
    margin-top: 10px;
}

.header__tabs, .language {
    list-style-type: none;
}

.header__tabs li a, .language li a {
    text-decoration: none;
}

.header__row {
    display: flex;
    flex-wrap: nowrap;
}

.header__row .header__logo {
    flex: 20%;
    display: flex;
    align-items: center;
    height: 0%;
}

.header__row .header__tabs__nav {
    flex: 80%;
}

.header__row .header__tabs__nav .header__tabs {
    display: flex;
    flex-wrap: nowrap;
}

.header__logo span {
    font-size: 30px;
}

.header__row .header__tabs__nav .header__tabs li {
    padding: 10px;
}

.header__row .header__tabs__nav .header__tabs .active {
    background-color: aquamarine;
}

.header__row .header__tabs__nav .header__tabs .header__button {
    background-color: rgb(61, 204, 61);
}

.language_dropdown {
    position: relative;
    display: inline-block;
}

.language__nav {
    display: none;
}

.show__language {
    display: block;
}