.support {
    margin-top: 100px;
}

.support .title {
    text-transform: uppercase;
}

.support .subtitle {
    font-weight: 700;
}

@media (max-width: 768px) {
    .support .line {
        display: none;
    }
    
    .support .patreon {
        margin-bottom: 20px;
    }
}