.support {
    margin-left: 70px;
    margin-top: 90px;
    position: relative;
}

.support .title {
    text-transform: uppercase;
}

.support .subtitle {
    font-weight: 700;
}

.support .content {
    text-align: center;
}

.support .content .content_with_line, .support .content .button_with_line {
    position: relative;
}

.support .patreon, .support .buymeacoffee {
    width: 500px;
    display: inline-block;
}

.support .content .content_with_line .line {
    position: absolute;
    top: 35px;
    width: 200px;
}

.support .content .button_with_line .line {
    position: absolute;
    top: 30px;
    left: 600px;
    width: 300px;
}
