.certifications, .awards {
    position: relative;
}

.certifications .certifications_tags li, .awards .awards_tags li {
    list-style: none;
}

.certifications .certifications_tags li:not(:last-child), .awards .awards_tags li:not(:last-child) {
    margin-right: 20px;
}

.certificate_actions > button:not(:last-child), .awards button:not(:last-child){
    margin-right: 10px;
}