.projectsandworks {
    margin-top: 100px;
}

.projectsandworks .title {
    text-transform: uppercase;
}

.projectsandworks .subtitle {
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .project {
        margin-top: 30px;
    }
}