.skillsandservices {
    margin-top: 40px;
}

.skillsandservices .title {
    text-transform: uppercase;
}

.skillsandservices .subtitle {
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .skill {
        margin-top: 10px;
    }
}