.learnhub {
    margin-left: 70px;
    margin-top: 90px;
    margin-right: 70px;
    position: relative;
}

.learnhub-header {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 2px 2px #888888;
    padding: 100px;
}

.learnhub-content-header > ul {
    list-style: none;
    display: flex;
}

.learnhub-content-header ul > li {
    padding: 5px;
}

.learn-content-subheader .underline {
    border-bottom: 1px solid #000;
}