.blogsingle {
    margin-left: 70px;
    margin-top: 90px;
    margin-right: 70px;
    position: relative;
}

.blogsingle .blog_image > img {
    border-radius: 20px;
}

.blogsingle .blog_image {
    position: relative;
}

.blogsingle .blog_image .blog_image_text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}