.blog {
    margin-left: 70px;
    margin-top: 90px;
    margin-right: 70px;
    position: relative;
}

.blog-header {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 2px 2px #888888;
    padding: 100px;
}

.blog-content {
    margin-top: 30px;
}

.blog-content .blog-content-header {
    display: flex;
    justify-content: space-between;
}

.blog-content .blog-content-header > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-content .blog-content-header > ul > li {
    margin-right: 20px;
    text-transform: uppercase;
    background-color: #FFF1DA;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D66464;
}

.blog-content .blog-content-featured-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}

.sub-feature {
    margin-bottom: 10px;
}

.blog-content-featured, .blog-content-latest-posts-and-popular-posts {
    margin-bottom: 30px;
}

.latest-posts-title, .popular-posts-title, .blog-content-detailed-title {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.popular-post-number {
    font-weight: 700;
    font-size: 100px;
    font-style: italic;
}